
{% extends 'layout.html' %}
{% load static %}
{% load avatar badges %}
{% block header %}
<link href="{% static 'assets_vendor/css/bootstrap-toggle.min.css' %}" rel="stylesheet"/>{% endblock %}
{% block page_title %}
{% if user.full_name %}
{{user.full_name}}'s
{% else %}
Your
{% endif %}
Profile
{% endblock %}
{% block body %}
<div class="bid box">
    <div class="bid-user d-flex">
        {% if user.full_name %}
        <a class="mr-3" href="{% url 'bid_main:profile' %}">{% avatar %}</a>
        {% else %}
        <a class="bid-user-missing" href="{% url 'bid_main:profile' %}">?</a>
        {% endif %}
        <div class="bid-user-info">
            <h3>
                {{ user.full_name }}
                {% if not user.full_name %}
                    <a class="name-missing" href="{% url 'bid_main:profile' %}">Please Set Your Name Here</a>
                {% endif %}
            </h3>
            <p>{{ user.nickname }}</p>
            {% if user.email_change_preconfirm %}
            <p class="bg-warning">A change from {{ user.email }} to {{ user.email_change_preconfirm }} is pending.<br/><a href="javascript:$('#cancel_email_change').submit()">Cancel this change</a> or <a href="{% url 'bid_main:confirm-email-change' %}">re-send confirmation email</a>.
            </p>
            {% else %}
            <p>{{ user.email }}</p>
            {% endif %}
            {% if show_confirm_address %}
            <p class="bg-warning"><a href="{% url 'bid_main:confirm-email' %}">Confirm your email address</a> to unleash the full power of KDE Identity.</p>
            <hr/>
            {% endif %}
        </div>
    <form id="cancel_email_change" action="{% url 'bid_main:cancel-email-change' %}" method="POST">{% csrf_token %}</form>
</div>

<a class="btn btn-secondary mt-2" href="{% url 'bid_main:profile' %}">Change Password</a>
<a class="btn btn-secondary ml-2 mt-2"  href="{% url 'bid_main:switch_user' %}">Not you? Log in as someone else</a>
{% if user.is_staff %}
    <a class="btn btn-secondary ml-2 mt-2" href="{% url 'admin:bid_main_user_change' user.id %}" style="margin-left: auto">Your Woosh</a>
{% endif %}

<section class="mt-3">
    <h3>Your Badges</h3>{% with badges=user.all_badges %}
    {% if badges %}
    <ul class="badges">
        {% for badge in badges %}
        {% render_badge badge %}
        {% endfor %}
    </ul>
    <p>
      You have earned {{ badges|length }} badge{{ badges|pluralize }}. If you do not want to show
      those badges on connected websites, you can mark them as private.
    </p>
    {% else %}
    <p>
      You don't have any badges. You can earn badges in various ways, for example by getting a
      <a href="https://cloud.blender.org/">Blender Cloud</a> subscription, by
      joining the <a href="https://blender.fund/">Blender Development Fund</a>, or
      on <a href="https://www.blendernetwork.org/">Blender Network</a>.
    </p>{% endif %}
    {% endwith %}
</section>

<section class="mt-3">
    <h3>Your KDE Identity Apps</h3>
    <ul>
        {% if 'cloud' in apps %}
        <li>
          <div class="bid-roles-role">
            <div class="bid-roles-role-info"><a class="title" href="https://cloud.blender.org">Blender Cloud</a>
              <ul>{% if cloud_needs_renewal %}
                <li class="link-renew-cloud"><a href="https://store.blender.org/my-account/subscriptions/">» Renew your Blender Cloud subscription «</a></li>{% endif %}
                <li><a href="https://cloud.blender.org/settings/billing">Subscription Details</a></li>
                <li><a href="https://cloud.blender.org/settings/emails">Preferences</a></li>
              </ul>
            </div>
          </div>
        </li>
        {% endif %}
        <li>
          <div class="bid-roles-role">
            <div class="bid-roles-role-info"><a class="title" href="https://store.blender.org/">Blender Store</a>
              <ul>
                <li><a href="https://store.blender.org/my-account/">Your Store account</a></li>
                <li><a href="https://store.blender.org/">Visit the Store</a></li>
              </ul>
            </div>
          </div>
        </li>
        {% if 'network' in apps %}
        <li>
          <div class="bid-roles-role">
            <div class="bid-roles-role-info"><a class="title" href="https://www.blendernetwork.org">Blender Network</a>
              <ul>
                <li><a href="https://www.blendernetwork.org/billing/">Subscription Details</a></li>
                <li><a href="https://www.blendernetwork.org/profile/edit">Blender Network Profile</a></li>
              </ul>
            </div>
          </div>
        </li>
        {% endif %}
        {% if 'bfct' in apps %}
        <li>
          <div class="bid-roles-role">
            <div class="bid-roles-role-info"><a class="title" href="https://www.blendernetwork.org/certification/">Blender Foundation Certified Trainer</a>
              <ul>
                <li><a href="https://www.blendernetwork.org/certification/">Certification Details</a></li>
              </ul>{% if 'bfct_board' in user.role_names %}
              <hr/>
              <p>You are a <strong>BFCT Board Member</strong>.</p>{% endif %}
            </div>
          </div>
        </li>
        {% endif %}
    </ul>
</section>
{% endblock %}
{% block footer_scripts %}
<script src="{% static 'assets_vendor/js/toastr.min.js' %}"></script>
<script src="{% static 'assets_vendor/js/bootstrap-toggle.min.js' %}"></script>
<script src="{% static 'assets_vendor/js/js.cookie.min.js' %}"></script>
<script src="{% static 'assets/js/notifications.min.js' %}"></script>
<script>
  function toggle_badge_privacy(event) {
  	let badge_name = event.target.dataset.badgeName;
  
  	$.post("{% url 'bid_main:badge_toggle_private'  %}", {
  		csrfmiddlewaretoken: Cookies.get('csrftoken'),
  		badge_name: badge_name,
  	})
  	.fail(function (error) {
  		toastr.error(xhrErrorResponseMessage(error), 'Unable to toggle badge privacy');
  	})
  	.done(function (response) {
  		let $badge = $('li.badge.' + badge_name);
  		if (response.is_private) {
  			$badge.addClass('private');
  		} else {
  			$badge.removeClass('private');
  		}
  	})
  	;
  }
  $(function() {
  	$("input[data-toggle]").bootstrapToggle();
  	$("input[type='checkbox'][data-badge-name]").change(toggle_badge_privacy);
  })
</script>{% endblock %}
