
{% extends 'bid_main/about.html' %}
{% block page_title %}Log in to KDE Identity{% endblock %}
{% block before_about_bid %}
<div>
    {% if is_oauth_flow %}
    <h1>Please sign in to continue to <span style="white-space: nowrap">{{ oauth_app.name }}</span></h1>
    <p>{{ oauth_app.name }} uses KDE Identity to authenticate users.</p>
    {% else %}
    <h1>Login in KDE Identity</h1>
    {% endif %}
    <form role="login" action="" method="POST">
        {% csrf_token %}
        <fieldset>
            <!-- Email input-->
            <div class="form-group">
                <label for="id_username">Email address</label>
                {{ form.username }}
            </div>
            <!-- Password input-->
            <div class="form-group">
                <label for="id_password">Password</label>
                {{ form.password }}
            </div>
            {% if form.errors %}
            <p class="text-danger">Your username and password didn't match. Please try again.</p>
            <p><a href="{% url 'bid_main:password_reset' %}">Lost your password?</a></p>
            {% endif %}
            <button class="btn btn-success" id="register">Sign in</button>
        </fieldset>
        <hr/>
        <p><a href="{% url 'bid_main:register' %}">Create a new account</a></p>
        <p><a href="{% url 'bid_main:password_reset' %}">Recover password</a></p>
    </form>
</div>
{% endblock %}
