
{% extends 'layout.html' %}
{% load avatar %}
{% block page_title %}Edit Your Profile -- KDE Identity{% endblock %}
{% block header %}
<style>
  .avatar-editor {
  	align-items: center;
  	justify-content: center;
  	padding-right: 2mm;
  }
  .avatar-editor img {
  	margin-right: 2mm;
  	border-right: thin solid var(--border-color);
  }
</style>
{% endblock %}
{% block body %}
<div class="bid box">
  <h2>Edit Profile</h2>
  <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <fieldset>
      <div class="row">
        <div class="col-md-9">
          <!-- Full name input-->
          <label class="control-label">Full Name</label>
          <div class="input-group {% if not user.full_name %}form-required{% endif %}">{{ form.full_name }}</div>{{ form.full_name.errors }}
          <!-- Email display-->
          <label class="control-label">Email</label>
          <div class="input-group">{{ form.email }}</div>{% if user.email_change_preconfirm %}
          <p class="help-text">A change to {{ user.email_change_preconfirm }} is already pending.<br/><a href="javascript:$('#cancel_email_change').submit()">Cancel this change</a> or <a href="{% url 'bid_main:confirm-email-change' %}">re-send confirmation email</a>.
          </p>{% endif %}
          <!-- Nickname input-->
          <label class="control-label">Nickname</label>
          <div class="input-group">{{ form.nickname }}</div>{{ form.nickname.errors }}
          {{ form.non_field_errors }}
          <!-- Avatar input-->
          <label class="control-label">Avatar</label>
          <div class="input-group avatar-editor">
            {% avatar size=64 %}
            <input class="form-control-file mt-2" id="avatar-file-input" type="file" name="avatar"/>
            <label class="mt-2">
              <input type="checkbox" name="avatar-clear"/>Clear
            </label>
          </div>{{ form.avatar.errors }}
        </div>
        <div class="col-md-3">
          <div class="bid-user profile">
            <div class="bid-user-info">{% avatar %}</div>
          </div>
        </div>
      </div>
      <div class="bid-cta">
        <button class="btn btn-filled-success btn-success" type="submit">Save Changes</button>
        <a class="btn btn-danger ml-2" href="{% url 'bid_main:index' %}">Discard Changes</a>
        <a class="btn btn-grey ml-2" href="{% url 'bid_main:password_change' %}">Change Password</a>
      </div>
    </fieldset>
  </form>
  <form id="cancel_email_change" action="{% url 'bid_main:cancel-email-change' %}" method="POST">{% csrf_token %}</form>
  {% if user.is_staff %}
      <div class="bid-links"><a href="{% url 'admin:bid_main_user_change' user.id %}">Edit account in admin</a></div>
  {% endif %}
</div>{% endblock %}
