
{% extends 'layout.html' %}
{% load trans from i18n %}
{% load static %}
{% block page_title %}
Register your KDE Identity
{% endblock %}
{% block body %}
<div class="bid box">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="bid-header">
        <h1>Get Your Own KDE Identity</h1>
      </div>
      <form role="register" action="" method="POST" name="register_user_form">{% csrf_token %}
        <fieldset>
          <!-- Full name input-->
          <label class="control-label" for="{{ form.full_name.id_for_label }}">Full Name</label>
          <div class="input-group">{{ form.full_name }}</div>{{ form.full_name.errors }}
          <!-- Email input-->
          <label class="control-label" for="{{ form.email.id_for_label }}">Email</label>
          <div class="input-group">{{ form.email }}</div>{{ form.email.errors }}
          <!-- Nickname input-->
          <label class="control-label" for="{{ form.nickname.id_for_label }}">Nickname</label>
          <div class="input-group">{{ form.nickname }}</div>{{ form.nickname.errors }}
          <p>We will send you an email with instructions to set a password.</p>{{ form.non_field_errors }}
        </fieldset>
        <div class="bid-cta">
          <button class="btn btn-success" id="register"><i class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" height="30" >
                <path d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
              </svg></i>Create Account</button>
        </div>
        <hr/>
        <div class="bid-links"><a href="{% url 'bid_main:login' %}">Already have an account?</a></div>
      </form>
    </div>
  </div>
</div>{% endblock %}
