
{% extends 'layout.html' %}
{% load i18n %}
{% block page_title %}Reset Your Password -- KDE Identity{% endblock %}
{% block body %}
<div class="bid box">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Password Reset</h1>
      <form action="" method="POST">{% csrf_token %}
        <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
        <fieldset>
          <div class="row">
            <div class="col-md-12">
              <!-- Email-->{{ form.email }}
              {{ form.email.errors }}
              <div class="bid-cta">
                <button class="btn btn-success" type="submit">{% trans "Reset My Password" %}</button><a class="btn" href="{% url 'bid_main:index' %}">Cancel</a>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>{% endblock %}