
{% extends 'errors/layout.html' %}
{% block page_title %}Bad Request{% endblock %}
{% block errorbody %}
<h1>Bad Request</h1>
<p>Your HTTP client sent a request that we did not understand.</p>
<p>Try <a href="{% url 'bid_main:index' %}">the front page</a> instead.</p>
<hr/>{% if request.sentry.id %}
<p>If you need assistance, you may reference this error as <strong>{{ request.sentry.id }}</strong>.</p>{% endif %}
{% endblock %}