
{% extends 'errors/layout.html' %}
{% block page_title %}Internal Server Error{% endblock %}
{% block errorbody %}
<h1>Internal Server Error</h1>
<p>Oops, we made a mistake somewhere.</p>
<p>Try <a href="{% url 'bid_main:index' %}">the front page</a> instead.</p>
<hr/>{% if request.sentry.id %}
<p>If you need assistance, you may reference this error as <strong>{{ request.sentry.id }}</strong>.</p>{% endif %}
{% endblock %}