
{% load static %}
{% load flatpages %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block page_title %}Home{% endblock %} - KDE Identity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="KDE Identity is a unified login system for all services around KDE.">
    <meta name="author" content="Blender Foundation, KDE">
    <link href="https://cdn.kde.org/aether-devel/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.kde.org/aether-devel/aether-kde-org.css" rel="stylesheet">
    <script src="https://cdn.kde.org/aether-devel/bootstrap.js" defer=""></script>
</head>
<body>
    {% block modal %}
    {% endblock %}
    {% block navigation_header %}
    {% include "_navbar.html" %}
    {% endblock navigation_header %}
    {% for message in messages %}
    <div class="alert alert-info {{ message.tags }}">
      <div class="container">{{ message }}
        <button class="close" type="button" data-dismiss="alert">Close</button>
      </div>
    </div>
    {% endfor %}
    <div class="container">
        <div class="featured">
            {% if user.is_authenticated %}
            <nav class="nav justify-content-center nav-pills">
            </nav>
            {% endif %}
            <div class="featured-overlay"></div>
        </div>
        {% if user and user.must_pp_agree %}
        {% block privacy_policy_banner %}
        <div class="privacy-policy-must-agree bid box">
            <h1>Our Privacy Policy Changed</h1>
            <p>In order to continue using KDE Identity, please accept <a href="{% url 'bid_main:privacy_policy_agree' %}">our new privacy policy</a>.</p>
        </div>
        {% endblock %}
        {% endif %}
        <div class="container mt-3">
            <div class="row">
                {% if user.is_authenticated %}
                <div class="col-md-3">
                    {% block sidebar %}
                    <nav class="nav flex-column nav-pills">
                        <a class="nav-link {% if page_id == 'about' %}active{% endif %}" href="{% url 'bid_main:about' %}">About</a>
                        <a class="nav-link {% if page_id == 'index' %}active{% endif %}" href="{% url 'bid_main:index' %}">My KDE Identity</a>
                        <a class="nav-link {% if page_id == 'auth_tokens' %}active{% endif %}" href="{% url 'bid_main:auth_tokens' %}">Applications</a>
                        {% if user.is_staff %}
                        <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                        {% endif %}
                        <a class="nav-link" href="{{ settings.LOGOUT_URL }}">Log out</a>
                    </nav>
                    {% endblock sidebar %}
                </div>
                {% endif %}
                <div class="{% if user.is_authenticated %}col-md-9{% else %}col-md-8 col-md-offset-2{% endif %}">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% block footer_scripts %}
    {% endblock footer_scripts %}
    {% block footer %}
    {% include "_footer.html" %}
    {% endblock footer %}
  </body>
</html>
